<div class="container-usuarios">
  <div>

    <div class="header">
      <h1>Cadastro de Usuários</h1>
    </div>
  <div class="container-box">

    <div class="container-1">
      <div class="campos-form">
        <label for="nomeCompleto" class="label-sm">Nome:</label>
        <input type="text" class="input-usuarios" id="nomeCompleto" placeholder="Nome Completo">
      </div>
    </div>

    <!-- container 2 -->
    <div class="container-2">
      <div class="campos-form">
        <label for="matricula" class="label-sm">Matrícula:</label>
        <input type="text" class="" id="matricula" placeholder="Matrícula">
      </div>
      <div class="campos-form">
        <label for="nome-de-guerra" class="label-lg">Nome de Guerra: </label>
        <input type="text" class="" id="nome-de-guerra" placeholder="Nome de Guerra">
      </div>
    </div>

    <!-- container 3 -->
    <div class="container-3">
      <div class="campos-form">
        <label for="senha" class="label-sm">Senha:</label>
        <input type="password" class="" id="senha" placeholder="Senha">
      </div>
      <div class="campos-form">
        <label for="confirmacao" class="label-lg">Confirmação:</label>
        <input type="password" class="" id="confirmacao" placeholder="Confirmação">
      </div>
    </div>
    <div class="container-4">
      <div class="campos-form">
        <label for="perfil-acesso" class="label-sm">Perfil:</label>
        <select name="" id="perfil-acesso">
          <option value="0">Escolha</option>
          <option value="1">Administrador</option>
          <option value="2">Cobom</option>
          <option value="3">Monitoramento</option>
        </select>
      </div>
    </div>
    <div class="div-button">
      <button class="btn btn-danger">Cadastrar</button>
    </div>
  </div>
</div>

  <!-- Pesquisa de Moradores -->
  <div class="relacao-usuarios">
    <div>
      <h4>Usuários Cadastrados</h4>
    </div>
    <div class="search-button">
      <span>
        <img src="../../assets/icone-pesquisa.png" alt="" width="24px"> Pesquisar
      </span>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nome Completo</th>
          <th scope="col">Matrícula</th>
          <th scope="col">Nome de Guerra</th>
          <th scope="col">Perfil de Acesso</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>

        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>



