@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap');

h1 {
  font-family: 'Barlow', sans-serif;
}

.container-moradores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.container-box {
  width: 60vw;
}

.container-2, .container-3 {
  display: flex;
  justify-content: space-between;
}

.btn-danger {
  width: 100px;
}

.input-moradores {
  width: 100%;
}