<div class="container-moradores">
  <div>

    <div class="header">
      <h1>Cadastro de Moradores</h1>
    </div>
  <div class="container-box">

    <div class="campos-form">
      <label for="nomeCompleto">Nome:</label>
      <input type="text" class="input-moradores" id="nomeCompleto" placeholder="Nome Completo">
    </div>
    <div class="campos-form">
      <label for="endereco">Endereço:</label>
      <input type="text" class="input-moradores" id="endereco" placeholder="Endereço">
    </div>

    <!-- container 2 -->
    <div class="container-2">
      <div class="campos-form">
        <label for="telefone">Telefone:</label>
        <input type="text" class="" id="telefone" placeholder="Telefone">
      </div>
      <div class="campos-form">
        <label for="numMoradores" class="label-lg">Núm. Moradores: </label>
        <input type="text" class="" id="numMoradores" placeholder="Núm. Moradores">
      </div>
    </div>

    <!-- container 3 -->
    <div class="container-3">
      <div class="campos-form">
        <label for="tipo">Tipo:</label>
        <select name="tipo" id="">
          <option value="" default selected>Escolha uma opção</option>
          <option value="1">Comercial</option>
          <option value="2">Residencial</option>
        </select>
      </div>
      <div class="campos-form">
        <label for="tem-botijao" class="label-lg">Tem botijão?</label>
        <select name="" id="tem-botijao">
          <option value="" defaultSelected></option>
          <option value="1">Não</option>
          <option value="2">Sim</option>
        </select>
      </div>
      <div class="campos-form">
        <label for="quantidade-botijao">Quantidade: </label>
        <input type="number" id="quantidade-botijao">
      </div>
    </div>
    <div class="div-button">
      <button class="btn btn-danger">Cadastrar</button>
    </div>
  </div>
</div>

  <!-- Pesquisa de Moradores -->
  <div class="relacao-moradores">
    <div>
      <h4>Moradores Cadastrados</h4>
    </div>
    <div class="search-button">
      <span>
        <img src="../../assets/icone-pesquisa.png" alt="" width="24px"> Pesquisar
      </span>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nome Completo</th>
          <th scope="col">Endereço</th>
          <th scope="col">Telefone</th>
          <th scope="col">Núm. Moradores</th>
          <th scope="col">Tipo</th>
          <th scope="col">Tem Botijão?</th>
          <th scope="col">Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<!-- nao esquece de commitar -->
