@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap');

@media screen and (max-height: 799px) {
  .container-moradores {
    height: 750px;
    padding-top: 100px;
  }
}
@media screen and (min-height: 800px) {
  .container-moradores {
    height: 850px;
    padding-top: 50px;
  }
}

.container-moradores {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 200px);
  font-family: 'Barlow', sans-serif;
  background-color: #E8E8E8;
  justify-content: space-around;
}

.header {
  height: 50px;
}

.header h1 {
  text-align: center;
}

.container-box {
  width: 60vw;
}

.container-2, .container-3, .container-4, .container-5, .container-6 {
  display: flex;
  justify-content: space-between;
}

.btn-danger {
  width: 100px;
  justify-self: end;
}

.input-moradores {
  width: 100%;
}

.campos-form {
  display: flex;
}

.campos-form .label-sm {
  width: 80px !important;
  margin-right: 5px;
}

.div-button {
  display: flex;
  flex-direction: row-reverse;
}

.label-lg {
  width: 120px !important;
}

.relacao-moradores {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.table {
  overflow: auto;
}

.search-button {
  cursor: pointer;
  width: 110px;
  border-radius: 5px;
  height: 30px;
}

.search-button:hover {
  background-color: #a3a3a3;
}

.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.input-padrao {
  width: 240px;
}

.input-campos {
  width: 200px;
}

.objetos, .cadastro {
  padding-top: 20px;
}
.campos-objeto {
  display: flex;
  justify-content: space-between;
}

.valvula {
  justify-content: center;
}
