<div class="container-moradores">
  <div>

    <div class="header">
      <h1>Cadastro de Moradores</h1>
    </div>
    <div class="container-box">
      <form [formGroup]="formGroup">
        <mat-tab-group mat-align-tabs="center" style="height: 450px;">
          <mat-tab label="Cadastro">
            <div class="cadastro">
              <div class="container-1">
                <div class="campos-form">
                  <mat-form-field class="input-moradores" appearance="fill">
                    <mat-label>Nome Completo</mat-label>
                    <input matInput formControlName="nomeCompleto">
                    <mat-error *ngIf="formGroup.controls.nomeCompleto.invalid">Digite o nome completo</mat-error>
                  </mat-form-field>
                </div>
                <div class="campos-form">
                  <mat-form-field class="input-moradores" appearance="fill">
                    <mat-label>Endereço</mat-label>
                    <input matInput formControlName="endereco">
                    <mat-error *ngIf="formGroup.controls.endereco.invalid">Preencha o endereço corretamente</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- container 2 -->
              <div class="container-2">
                <div class="campos-form">
                  <mat-form-field class="example-full-width input-campos" appearance="fill">
                    <mat-label>Telefone</mat-label>
                    <span matPrefix>+55 &nbsp;</span>
                    <input type="tel" matInput placeholder="99999-9999" formControlName="telefone">
                    <mat-error *ngIf="formGroup.controls.telefone.invalid">Preencha o telefone corretamente</mat-error>
                  </mat-form-field>
                </div>
                <div class="campos-form">
                  <mat-form-field class="input-campos" appearance="fill">
                    <mat-label>Núm. Moradores</mat-label>
                    <input matInput type="number" formControlName="numMoradores">
                    <mat-error *ngIf="formGroup.controls.numMoradores.invalid">Preencha o número de moradores</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- container 3 -->
              <div class="container-3">
                <div class="campos-form">

                  <mat-form-field appearance="fill" class="input-campos">
                    <mat-label>Tipo de Edificação</mat-label>
                    <mat-select formControlName="tipoEdificacao">
                      <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                        {{tipo.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="campos-form">
                  <mat-form-field appearance="fill" class="input-campos">
                    <mat-label>Tem botijão?</mat-label>
                    <mat-select formControlName="temBotijao">
                      <mat-option *ngFor="let botijao of botijoes" [value]="botijao.value">
                        {{botijao.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="campos-form" *ngIf="formGroup.value.temBotijao == 'sim-1'">
                  <mat-form-field class="input-campos" appearance="fill">
                    <mat-label>Qtd. Botijão</mat-label>
                    <input matInput type="number" formControlName="qtdBotijao">
                    <!-- <mat-error *ngIf="formGroup.controls.qtdBotijao.invalid">Insira uma quantidade</mat-error> -->
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-tab>

          <!-- Criação da aba de objetos -->
          <mat-tab label="Objeto" style="height: 500px;">
            <div class="objetos">
              <div class="campos-objeto">
                <mat-form-field appearance="fill" class="input-campos">
                  <mat-label>Marca Válvula</mat-label>
                  <input matInput type="text" formControlName="marcaValvula">
                </mat-form-field>
                <mat-form-field appearance="fill" class="input-campos">
                  <mat-label>Modelo Válvula</mat-label>
                  <input matInput type="text" formControlName="modeloMangueira">
                </mat-form-field>
                <mat-form-field appearance="fill" class="input-campos">
                  <mat-label>Selecione a validade</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="validadeValvula">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="campos-objeto">
                <mat-form-field appearance="fill" class="input-campos">
                  <mat-label>Marca Mangueira</mat-label>
                  <input matInput type="text" formControlName="marcaMangueira">
                </mat-form-field>
                <mat-form-field appearance="fill" class="input-campos">
                  <mat-label>Modelo Mangueira</mat-label>
                  <input matInput type="text" formControlName="modeloMangueira">
                </mat-form-field>
                <mat-form-field appearance="fill" class="input-campos">
                  <mat-label>Selecione a validade</mat-label>
                  <input matInput [matDatepicker]="picker1" formControlName="validadeMangueira">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
        <div class="div-button">
          <button class="btn btn-danger">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Pesquisa de Moradores -->
  <div class="relacao-moradores">
    <div>
      <h4>Moradores Cadastrados</h4>
    </div>
    <div class="search-button">
      <span>
        <img src="../../assets/icone-pesquisa.png" alt="" width="24px"> Pesquisar
      </span>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{element.nome}}</td>
      </ng-container>

      <!-- endereco Column -->
      <ng-container matColumnDef="endereco">
        <th mat-header-cell *matHeaderCellDef>Endereco</th>
        <td mat-cell *matCellDef="let element">{{element.endereco}}</td>
      </ng-container>

      <!-- telefone Column -->
      <ng-container matColumnDef="telefone">
        <th mat-header-cell *matHeaderCellDef>Telefone</th>
        <td mat-cell *matCellDef="let element">{{element.telefone}}</td>
      </ng-container>

      <!-- numMoradores Column -->
      <ng-container matColumnDef="numMoradores">
        <th mat-header-cell *matHeaderCellDef>Núm. Moradores</th>
        <td mat-cell *matCellDef="let element">{{element.numMoradores}}</td>
      </ng-container>

      <!-- tipoEdificacao Column -->
      <ng-container matColumnDef="tipoEdificacao">
        <th mat-header-cell *matHeaderCellDef>Tipo de Edificação</th>
        <td mat-cell *matCellDef="let element">{{element.tipoEdificacao}}</td>
      </ng-container>

      <!-- numMoradores Column -->
      <ng-container matColumnDef="temBotijao">
        <th mat-header-cell *matHeaderCellDef>Tem botijão?</th>
        <td mat-cell *matCellDef="let element">{{element.temBotijao}}</td>
      </ng-container>

      <!-- numMoradores Column -->
      <ng-container matColumnDef="qtdBotijao">
        <th mat-header-cell *matHeaderCellDef>Qtd. Botijão</th>
        <td mat-cell *matCellDef="let element">{{element.qtdBotijao}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons" [pageIndex]="pageIndex" aria-label="Select page">
    </mat-paginator>
  </div>
</div>

<!-- nao esquece de commitar -->
