<div class="login-container">
  <div class="logo-bombeiros-login">
    <img src="../../assets/bombeiros-sc.png" alt="" width="250px">
  </div>
  <div class="box-login">
    <form class="login">
      <div class="mb-3">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Usuário">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
      </div>
      <div class="botao-container">
        <button type="submit" class="btn btn-danger">Acessar</button>
        <a href="#">Esqueci a senha</a>
      </div>
    </form>
  </div>
</div>
